<div class="content-container">
  <h1 class="page-title"><%= title %></h1>
  <div class="inventory-grid">
    <% if (vehicles && vehicles.length > 0) { %>
      <% vehicles.forEach(function(vehicle) { %>
        <div class="inventory-card">
          <a href="/inv/detail/<%= vehicle.inv_id %>" class="inventory-image-link">
            <img 
              src="<%= vehicle.inv_image.replace('.jpg', '-tn.jpg').replace('.png', '-tn.png') %>" 
              alt="<%= vehicle.inv_make %> <%= vehicle.inv_model %>" 
              class="inventory-thumb" 
              loading="lazy"
              width="280"
              height="157"
            >
          </a>
          <div class="inventory-info">
            <h2 class="inventory-title">
              <a href="/inv/detail/<%= vehicle.inv_id %>">
                <%= vehicle.inv_make %> <%= vehicle.inv_model %>
              </a>
            </h2>
            <div class="inventory-price">
              $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %>
            </div>
          </div>
        </div>
      <% }) %>
    <% } else { %>
      <p class="no-vehicles">No vehicles found for this classification.</p>
    <% } %>
  </div>
</div>
